<div class="card text-center">
  <div class="card-header">
    <h3><i>Welcome to {{title}}</i></h3>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <a><img src="assets/images/logo.jpg"
          class="img-responsive center-block"
          style="max-height:300px;padding-bottom:50px" /></a>
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Muhammed Mushtaq</h3>
      </div>

      <div class="text-center"><a href="https://twitter.com/its_mushtaqism">Twitter | @its_mushtaqism</a></div>
      <div class="text-center">
        <a href="https://in.linkedin.com/in/muhammed-mushtaq-jan">Linked In | Mushtaq Jan</a>
      </div>
    </div>
  </div>
</div>
